.class-picker {
  width: 50vh;
  display: flex;
  gap: 32px;
  button {
    border: 1px solid black;
    font-size: 32px;
    &.selected {
      border: 4px solid $primary-color;
      color: $primary-color;
    }
  }
}
